.about-us {
  padding-top: 107px;
  padding-bottom: 106px;
}
@media (max-width: 767px) {
  .about-us {
    flex-direction: column;
  }
}
.about-us__item:first-child {
  border: 1px solid red;
}
.about-us__item img {
  display: flex;
  margin: 67px auto 36px auto;
}
.about-us__text {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
