.code-area h1 {
  justify-content: center;
  display: flex;
  margin-top: 90px;
  margin-bottom: 36px;
}
.code-area .personal-area__text {
  width: 50%;
}
@media (max-width: 768px) {
  .code-area .personal-area__text {
    width: 100%;
  }
}
.code-area.personal-area {
  margin-bottom: 0px;
}
.code-area .about-us {
  padding-top: 80px;
  padding-bottom: 90px;
}
@media (min-width: 768px) {
  .code-area .about-us__item img {
    margin-top: -12px;
  }
}

.code-blocks {
  margin-top: 55px;
}
.code-blocks .code {
  font-family: Roboto;
  font-size: 14px;
  background: #F8F8F8;
  border: 1px solid #28C76F;
  padding: 12px;
  max-height: 395px;
  overflow-y: auto;
  width: 100%;
  min-height: 90px;
}
.code-blocks .code-blocks {
  margin-top: 54px;
}
.code-blocks .code1 {
  min-height: 400px;
}
.code-blocks pre {
  margin: 0px;
  overflow-x: hidden;
}
.code-blocks code {
  font-family: Roboto;
  font-size: 14px;
}
.code-blocks .copy-btn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.code-blocks .copy-btn h4 {
  width: 50%;
}

.link-green {
  margin-top: 5px;
  text-decoration: underline;
}
.link-green:hover {
  cursor: pointer;
}
