.fs-18px {
  font-size: 18px;
}

.p-30px {
  padding: 30px;
}

.text-tariff-plan {
  font-size: 24px;
  font-weight: 900;
  color: #28C76F;
}

.m-w-530px {
  max-width: 530px;
}

.h-100hv {
  height: 100vh;
}

.h-content {
  height: calc(100% - 110px - 81px);
}

.mr-10px {
  margin-right: 10px;
}

.rounded-20px {
  border-radius: 20px;
}

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }
}
@media (max-width: 480px) {
  .d-xs-none {
    display: none !important;
  }

  .text-xs-nowrap {
    white-space: normal !important;
  }
}
