.bg-green-gr {
  background: linear-gradient(180deg, #50d5b7 0%, #28c76f 100%);
}

.bg-green-gr-xl {
  background: linear-gradient(180deg, #50d5b7 0%, #28c76f 100%);
}
@media (min-width: 1200px) {
  .bg-green-gr-xl {
    background-image: none;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-project-footer,
.navbar-project {
  font-family: 'Formular';
  font-weight: 500;
}
.navbar-project-footer a,
.navbar-project a {
  color: #353535;
  font-size: 16px;
}
.navbar-project-footer .logo-project,
.navbar-project .logo-project {
  width: 161px;
  height: 65px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  padding-left: 70px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 24px;
}

.navbar-project-footer {
  padding-top: 20px;
  padding-bottom: 25px;
}

.navbar-project .navbar-toggler:focus {
  box-shadow: 0 0 0 0.1rem;
}

.navbar-project .navbar-toggler {
  border: none;
  box-shadow: none !important;
}

.navbar-project .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-image: url(../images/icons/close.svg);
  width: 42px;
  height: 32px;
}

.navbar-project .navbar-toggler[aria-expanded="false"] .navbar-toggler-icon {
  background-image: url(../images/icons/hamburger.svg);
  width: 42px;
  height: 32px;
}

.navbar-project .navbar-toggler {
  padding-left: 30px;
}

@media (max-width: 1199px) {
  .navbar-collapse .nav-item {
    border-bottom: 1px solid #fff;
  }
}
a.nav-link {
  padding: 18px 1rem;
}

@media (min-width: 1200px) {
  a.nav-link .link {
    position: relative;
  }
  a.nav-link .link:after {
    content: "";
    width: 100%;
    display: block;
    height: 3px;
    background-color: #50D5B7;
    position: absolute;
    top: 110%;
    left: 0;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  a.nav-link .link:hover:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  a.nav-link-active .link:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
.mb-40px {
  margin-bottom: 40px;
}

@media (min-width: 992px) {
  .navbar-project-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
  }
}
@media (max-width: 330px) {
  .navbar-brand {
    margin-right: 0;
  }
}
.navbar-footer-mobile {
  display: none;
}

@media (max-width: 767px) {
  .navbar-footer-desktop {
    display: none !important;
  }

  .navbar-footer-mobile {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .navbar-footer-mobile .navbar-nav {
    flex-direction: row;
  }
  .navbar-footer-mobile .navbar-nav li {
    border: none;
    margin: 0 45px;
  }
  .navbar-footer-mobile a.nav-link {
    text-decoration: underline;
  }
}
@media (max-width: 375px) {
  .navbar-footer-mobile .navbar-nav {
    flex-direction: column;
  }
}
.navbar-block,
.login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 1199px) {
  .navbar-block,
  .login {
    justify-content: flex-start;
  }
}
.navbar-block a,
.login a {
  text-decoration: none;
  font-weight: 500;
}
.navbar-block a:hover,
.login a:hover {
  text-decoration: underline;
}

a.tel {
  font-size: 1rem;
  color: #28c76f;
  font-weight: 700;
}
a.tel:hover {
  text-decoration: none;
}

@media (max-width: 1199px) {
  .navbar-block-tel {
    display: none;
  }
}
.navbar-top.navbar-dark .navbar-nav .nav-link {
  color: #353535;
  font-weight: 600;
}
@media (max-width: 1199px) {
  .navbar-top.navbar-dark .navbar-nav .nav-link {
    color: #fff;
  }
}

.navbar-top .navbar-block a {
  font-weight: 600;
}

.navbar-project .navbar-nav .nav-link {
  padding-right: 50px;
  padding-left: 0;
}

#navbarsBottom .nav-item .navbar-block,
#navbarsBottom .nav-item .login {
  min-width: auto;
  margin-right: 20px;
  padding-left: 2.5rem;
}

#navbarsBottom .nav-item {
  align-items: center;
  display: flex;
}

@font-face {
  font-family: 'Geometria Medium';
  src: url("../fonts/Geometria-Medium.eot");
  src: url("../fonts/Geometria-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Medium.woff") format("woff"), url("../fonts/Geometria-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Formular';
  src: url("../fonts/Formular-Light.eot");
  src: local("../fonts/Formular Light"), local("Formular-Light"), url("../fonts/Formular-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Formular-Light.woff2") format("woff2"), url("../fonts/Formular-Light.woff") format("woff"), url("../fonts/Formular-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: '../fonts/Formular';
  src: url("../fonts/Formular.eot");
  src: local("../fonts/Formular"), url("../fonts/Formular.eot?#iefix") format("embedded-opentype"), url("../fonts/Formular.woff2") format("woff2"), url("../fonts/Formular.woff") format("woff"), url("../fonts/Formular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '../fonts/Formular';
  src: url("../fonts/Formular-Medium.eot");
  src: local("../fonts/Formular Medium"), local("Formular-Medium"), url("../fonts/Formular-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Formular-Medium.woff2") format("woff2"), url("../fonts/Formular-Medium.woff") format("woff"), url("../fonts/Formular-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: '../fonts/Formular';
  src: url("../fonts/Formular-Black.eot");
  src: local("../fonts/Formular Black"), local("Formular-Black"), url("../fonts/Formular-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Formular-Black.woff2") format("woff2"), url("../fonts/Formular-Black.woff") format("woff"), url("../fonts/Formular-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
.btn-site-violet,
.btn-site {
  position: relative;
  color: #ffffff;
  padding: 12px 25px;
  font-size: 18px;
  font-weight: 700;
  min-width: 220px;
  justify-content: center;
  border-radius: 5px;
}
.btn-site-violet:after,
.btn-site:after {
  content: "";
  width: 100%;
  display: block;
  height: 6px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
  top: 100%;
  left: 0;
}
.btn-site-violet:hover,
.btn-site:hover {
  color: #ffffff;
}
@media (max-width: 370px) {
  .btn-site-violet,
  .btn-site {
    min-width: 190px;
  }
}

.btn-site {
  background: linear-gradient(180deg, #50d5b7 0%, #28c76f 100%);
}
.btn-site:after {
  background: #20AE60;
}

.btn-site-violet {
  background: linear-gradient(180deg, #759ed7 0%, #325c96 100%);
}
.btn-site-violet:after {
  background: #18417A;
}

.accordion-mb {
  margin-bottom: 93px;
}

.accordion-green .accordion-item {
  margin-bottom: 30px;
  border: none;
}
@media (max-width: 480px) {
  .accordion-green .accordion-item {
    margin-bottom: 20px;
  }
}
.accordion-green .accordion-button {
  position: relative;
  color: #ffffff;
  padding: 4px 20px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px !important;
  background: linear-gradient(180deg, #50d5b7 0%, #28c76f 100%);
}
@media (max-width: 480px) {
  .accordion-green .accordion-button {
    line-height: 22px;
    padding: 15px 10px;
  }
}
.accordion-green .accordion-button:not(.collapsed)::after {
  background-image: url(../images/icons/accordion-arrow-down.svg);
  transform: rotate(180deg);
}
.accordion-green .accordion-button:after {
  flex-shrink: 0;
  width: 29px;
  height: 16px;
  margin-left: auto;
  content: "";
  background-image: url(../images/icons/accordion-arrow-down.svg);
  background-repeat: no-repeat;
  transition: transform .2s ease-in-out;
  background-size: auto;
}
.accordion-green .accordion-button:hover {
  color: #ffffff;
}
.accordion-green .accordion-button:focus {
  z-index: 3;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
.accordion-green .accordion-button.accordion-button:not(.collapsed) {
  color: #ffffff;
  box-shadow: none;
}

.accordion-body {
  border: 2px solid #28C76F;
}

.accordion-collapse {
  position: relative;
  top: -7px;
}

.service {
  margin: 10px 0 120px 0;
}
@media (max-width: 991px) {
  .service {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .service {
    font-size: 87%;
  }
}
@media (max-width: 768px) {
  .service {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .service {
    margin-top: 84px;
  }
}
.service-icon {
  width: 64px;
  height: 88px;
  margin-left: 10px;
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url(../images/icons/service-title-icon.svg);
  position: relative;
  top: 40px;
}
.service h1 {
  margin-bottom: 1.563rem;
}
@media (max-width: 991px) {
  .service h1 {
    text-align: center;
    margin-bottom: 68px;
  }
}
@media (max-width: 767px) {
  .service h1 {
    font-size: 180%;
    line-height: 1.3;
  }
}
.service__text {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 23px;
  max-width: 500px;
}
@media (max-width: 991px) {
  .service__text {
    max-width: 100%;
  }
}
.service__img {
  margin-top: 20px;
}
@media (max-width: 480px) {
  .service__img {
    max-width: 180px;
    margin-bottom: 30px;
  }
}
.service__col-img {
  width: auto;
}
.service .btn {
  margin-top: 47px;
}

.how-it-works {
  background: linear-gradient(180deg, #50d5b7 0%, #28c76f 100%);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 50px 0px 74px  0px;
  margin-bottom: 46px;
}
@media (max-width: 768px) {
  .how-it-works {
    flex-direction: column;
    margin-bottom: 40px;
  }
}
@media (max-width: 480px) {
  .how-it-works {
    margin-bottom: 30px;
  }
}
.how-it-works h2 {
  margin-bottom: 46px;
}
@media (max-width: 767px) {
  .how-it-works .row {
    flex-direction: column;
  }
}
.how-it-works__item {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 768px) {
  .how-it-works__item {
    padding-bottom: 44px;
  }
}
.how-it-works__item:before {
  content: attr(data-slide);
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 22px;
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #28C76F;
  font-weight: 700;
  font-size: 36px;
}
.how-it-works__item:after {
  content: '';
  position: absolute;
  top: 25px;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  height: 3px;
  z-index: 0;
}
@media (max-width: 768px) {
  .how-it-works__item:after {
    top: -15px;
    left: 47px;
    height: 100%;
    width: 3px;
  }
}
@media (max-width: 480px) {
  .how-it-works__item:after {
    content: none;
  }
}
.how-it-works__item img {
  display: flex;
  margin: 94px auto 34px auto;
}
@media (max-width: 768px) {
  .how-it-works__item img {
    margin-top: 0px;
  }
}
.how-it-works__text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
}
@media (max-width: 768px) {
  .how-it-works__text {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .how-it-works__text {
    padding: inherit;
  }
}
.how-it-works .how-it-works__text {
  color: #ffffff;
}
@media (max-width: 768px) {
  .how-it-works .how-it-works__text {
    padding: 0px 160px;
  }
}
@media (max-width: 480px) {
  .how-it-works .how-it-works__text {
    padding: 0px;
  }
}

.about-us {
  padding-top: 107px;
  padding-bottom: 106px;
}
@media (max-width: 767px) {
  .about-us {
    flex-direction: column;
  }
}
.about-us__item:first-child {
  border: 1px solid red;
}
.about-us__item img {
  display: flex;
  margin: 67px auto 36px auto;
}
.about-us__text {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.personal-area {
  margin-bottom: 96px;
}
.personal-area h1 {
  justify-content: center;
  display: flex;
  margin-top: 90px;
  margin-bottom: 85px;
}
@media (max-width: 480px) {
  .personal-area h1 {
    margin-top: 50px;
    margin-bottom: 20px !important;
  }
}
.personal-area h3 {
  margin-bottom: 30px;
}
.personal-area__text {
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  font-weight: 600;
}
.personal-area__text .text-tariff-plan {
  padding: 27px 0px;
}
.personal-area .tariff-plan {
  margin: 18px 18px 93px 18px;
  padding: 36px 43px;
  border-radius: 20px;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  font-weight: 600;
}
.personal-area .tariff-plan__btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
  padding: 0px;
}
@media (min-width: 768px) {
  .personal-area .tariff-plan__btns {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .personal-area .tariff-plan__btns {
    margin-top: 0;
  }
}
.personal-area .about-us {
  padding-bottom: 0px;
}
.personal-area .about-us h2 {
  margin-bottom: 0;
}
.personal-area .about-us img {
  margin-top: 40px;
}
.personal-area .upload-document {
  border-radius: 20px;
  margin: 18px;
  padding: 35px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  font-weight: 600;
}

.uploaded-documents h3 {
  margin-bottom: 10px;
}

.table-doc {
  border-spacing: 10px;
  border-collapse: separate;
}
.table-doc th {
  font-size: 18px;
}
.table-doc td {
  font-size: 16px;
}
.table-doc i.fa-file-text-o,
.table-doc i.fa-link {
  margin-right: 10px;
}

.table-doc > :not(:last-child) > :last-child > * {
  border-bottom-color: transparent;
}

.table-doc > :not(caption) > * > * {
  padding: .9rem .5rem;
  border-bottom-width: 0;
}

.table-doc tbody tr {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 505px) {
  table.table-doc {
    border: 0;
  }

  table.table-doc thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table.table-doc tr {
    border-bottom: 1px solid #ddd;
    display: block;
    margin-bottom: 30px;
  }

  table.table-doc td {
    display: block;
    text-align: right;
  }
  table.table-doc td span {
    display: inline-block;
    width: 50%;
    text-align: start;
    font-size: 14px;
  }

  table.table-doc td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table.table-doc td:last-child {
    border-bottom: 0;
  }
}
@media (max-width: 345px) {
  table.table-doc td::before {
    font-size: 14px;
  }

  table.table-doc td span {
    width: 53%;
  }
}
.code-area h1 {
  justify-content: center;
  display: flex;
  margin-top: 90px;
  margin-bottom: 36px;
}
.code-area .personal-area__text {
  width: 50%;
}
@media (max-width: 768px) {
  .code-area .personal-area__text {
    width: 100%;
  }
}
.code-area.personal-area {
  margin-bottom: 0px;
}
.code-area .about-us {
  padding-top: 80px;
  padding-bottom: 90px;
}
@media (min-width: 768px) {
  .code-area .about-us__item img {
    margin-top: -12px;
  }
}

.code-blocks {
  margin-top: 55px;
}
.code-blocks .code {
  font-family: Roboto;
  font-size: 14px;
  background: #F8F8F8;
  border: 1px solid #28C76F;
  padding: 12px;
  max-height: 395px;
  overflow-y: auto;
  width: 100%;
  min-height: 90px;
}
.code-blocks .code-blocks {
  margin-top: 54px;
}
.code-blocks .code1 {
  min-height: 400px;
}
.code-blocks pre {
  margin: 0px;
  overflow-x: hidden;
}
.code-blocks code {
  font-family: Roboto;
  font-size: 14px;
}
.code-blocks .copy-btn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.code-blocks .copy-btn h4 {
  width: 50%;
}

.link-green {
  margin-top: 5px;
  text-decoration: underline;
}
.link-green:hover {
  cursor: pointer;
}

label {
  font-size: 18px;
}

.form-control {
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  color: #353535;
  background-color: #fff;
  border: 1px solid rgba(50, 92, 150, 0.2);
}
.form-control:focus {
  border: 1px solid #28C76F !important;
  box-shadow: none !important;
}

.my-form {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.comment {
  margin-top: 95px;
  margin-bottom: 95px;
}
.comment-block {
  max-width: 804px;
}
.comment-item {
  font-size: 18px;
  background-color: #f5f7fa;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.comment-item__title {
  color: #28C76F;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 10px;
}

.card {
  border-radius: 10px 10px 0px 0px;
  border: 2px solid #28C76F;
  overflow: hidden;
}
.card-header {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  padding: 11px 20px;
  margin-bottom: 0;
  background: linear-gradient(180deg, #50d5b7 0%, #28c76f 100%);
  border-radius: 10px 10px 0px 0px;
}
.card-body {
  padding: 18px 22px;
}
.card-text {
  font-size: 18px;
  line-height: 22px;
}

.carousel-indicators {
  bottom: -60px;
}

.carousel-indicators [data-bs-target] {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 2px solid #28C76F;
}

.carousel-indicators .active {
  opacity: 1;
  background: linear-gradient(180deg, #50d5b7 0%, #28c76f 100%);
}

.fs-18px {
  font-size: 18px;
}

.p-30px {
  padding: 30px;
}

.text-tariff-plan {
  font-size: 24px;
  font-weight: 900;
  color: #28C76F;
}

.m-w-530px {
  max-width: 530px;
}

.m-w-900px {
  max-width: 900px;
}

.h-100hv {
  height: 100vh;
}

.h-content {
  height: calc(100% - 110px - 81px);
  overflow-y: auto;
}
@media (max-width: 767px) {
  .h-content {
    height: calc(100% - 134px - 81px);
    margin: 0px;
  }
}

.mr-10px {
  margin-right: 10px;
}

.rounded-20px {
  border-radius: 20px;
}

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }
}
@media (max-width: 480px) {
  .d-xs-none {
    display: none !important;
  }

  .text-xs-nowrap {
    white-space: normal !important;
  }
}
body {
  font-family: 'Formular';
  font-weight: 400;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1242px;
  }
}
.user-icon,
.user-icon-green,
.key-green {
  width: 36px;
  height: 41px;
  min-width: 36px;
  min-height: 41px;
  background-repeat: no-repeat;
  display: inline-flex;
}

.user-icon {
  margin-left: 10px;
}

.key-green,
.user-icon-green {
  width: 42px;
  height: 42px;
  min-width: 42px;
  min-height: 42px;
  margin-right: 10px;
}

.enter-icon {
  background-image: url(../images/icons/enter.svg);
  width: 42px;
  height: 42px;
  min-width: 42px;
  min-height: 42px;
  background-repeat: no-repeat;
  display: inline-flex;
}

.user-icon {
  background-image: url(../images/icons/vector.svg);
}

.user-icon-green {
  background-image: url(../images/icons/user-icon-green.svg);
  margin-left: 10px;
}

form .user-icon-green {
  margin-left: 0px;
}

.key-green {
  background-image: url(../images/icons/key-green.svg);
}

.copyright {
  color: #ffffff;
}

h1, h2, h3 {
  font-family: "Geometria Medium";
  text-transform: uppercase;
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 50px;
}

@media (max-width: 991px) {
  h1 {
    text-align: center;
    margin-bottom: 68px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 180%;
    line-height: 1.3;
  }
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 55px;
}
@media (max-width: 480px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 63px;
}
@media (max-width: 480px) {
  h3 {
    font-size: 20px;
    line-height: 25px;
  }
}

h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 14px;
}

h5 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 44px;
  text-transform: uppercase;
  text-align: center;
}

.content-area h1 {
  margin-top: 90px;
  margin-bottom: 36px;
}

.carousel-control-prev-icon {
  background-image: url("../images/icons/prev-arrow.svg");
}
.carousel-control-next-icon {
  background-image: url("../images/icons/next-arrow.svg");
}

.box-shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.box-shadow button {
  display: flex;
}

.color-green {
  color: #28c76f;
}

.color-gray {
  color: #CFCFCF;
}

@media (max-width: 575px) {
  main {
    margin: 0 12px;
  }
}
main a {
  color: #78dca5;
}
main a:hover {
  color: #78dca5;
  text-decoration: none;
}
main ul.doc-list {
  font-size: 18px;
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
@media (max-width: 480px) {
  main ul.doc-list {
    flex-direction: column;
  }
}
main ul.doc-list li {
  margin-bottom: 24px;
  margin-right: 10px;
}
@media (max-width: 480px) {
  main ul.doc-list li {
    width: 100%;
  }
}
main ul.doc-list li a {
  display: flex;
  align-items: baseline;
  max-width: 344px;
  margin-bottom: 27px;
}
main ul.doc-list li .fa-xl {
  font-size: 1.7em;
  line-height: .75em;
  vertical-align: -15%;
}
main ul.city-list {
  font-size: 16px;
  line-height: 18px;
  list-style-type: none;
}
main ul.city-list li {
  display: inline-block;
  width: 32%;
}
@media (max-width: 480px) {
  main ul.city-list li {
    width: 47%;
  }
}
main .item-error {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .item-error h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 1.563rem;
}
@media (max-width: 767px) {
  main .item-error h1 {
    font-size: 180%;
    line-height: 1.3;
  }
}
main .item-error .about-us__text {
  max-width: 570px;
}
main .item-error .btn-site {
  width: 230px;
  margin: 37px auto 0px auto;
}
main .round-blue,
main .round-green {
  font-size: 144px;
  background-color: #ADDAF9;
  color: #28c76f;
  border-radius: 50%;
  font-weight: 700;
  width: 320px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 34px;
}
main .round-green {
  background: #28C76F33;
  color: #28c76f;
}

.icon-button {
  display: block;
  width: 25px;
  height: 30px;
  margin-right: 10px;
}
.icon-button-upload {
  background-image: url("../images/icons/upload.svg");
  background-size: cover;
}

.icon {
  display: block;
  width: 18px;
  height: 18px;
}
.icon-arrow-down {
  background-image: url("../images/icons/arrow-down.svg");
  background-size: cover;
}
.icon-times {
  background-image: url("../images/icons/times.svg");
  background-size: cover;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
@media (max-width: 767px) {
  .buttons {
    flex-direction: column;
  }
}

.upload-file__wrapper {
  display: block;
  width: 230px;
}

.upload-file__input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 0.4px;
  height: 0.4px;
}

.upload-file__label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.upload-file__icon {
  width: 30px;
  height: auto;
  margin-right: 11px;
}

.upload-file__label .upload-file__text,
.upload-file__label .upload-file__icon path {
  transition: .25s ease;
}

.upload-file__text,
.upload-file__text_2 {
  max-width: 132px;
}

.without-data-label {
  margin: auto;
  width: 20px;
  display: block;
}

.container-wrap {
  position: relative;
}

a.link-tel {
  color: #000000;
  text-decoration: none;
}

.coupon-alert {
  display: none;
  color: green;
}

.form-row {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.form-row span {
  display: flex;
  flex-direction: column;
  width: 100%;
}
