.bg-green-gr {
  background: linear-gradient(180deg, #50d5b7 0%, #28c76f 100%);
}

.bg-green-gr-xl {
  background: linear-gradient(180deg, #50d5b7 0%, #28c76f 100%);
}
@media (min-width: 1200px) {
  .bg-green-gr-xl {
    background-image: none;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-project-footer,
.navbar-project {
  font-family: 'Formular';
  font-weight: 500;
}
.navbar-project-footer a,
.navbar-project a {
  color: #353535;
  font-size: 16px;
}
.navbar-project-footer .logo-project,
.navbar-project .logo-project {
  width: 161px;
  height: 65px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  padding-left: 70px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 24px;
}

.navbar-project-footer {
  padding-top: 20px;
  padding-bottom: 25px;
}

.navbar-project .navbar-toggler:focus {
  box-shadow: 0 0 0 0.1rem;
}

.navbar-project .navbar-toggler {
  border: none;
  box-shadow: none !important;
}

.navbar-project .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-image: url(../images/icons/close.svg);
  width: 42px;
  height: 32px;
}

.navbar-project .navbar-toggler[aria-expanded="false"] .navbar-toggler-icon {
  background-image: url(../images/icons/hamburger.svg);
  width: 42px;
  height: 32px;
}

.navbar-project .navbar-toggler {
  padding-left: 30px;
}

@media (max-width: 1199px) {
  .navbar-collapse .nav-item {
    border-bottom: 1px solid #fff;
  }
}
a.nav-link {
  padding: 18px 1rem;
}

@media (min-width: 1200px) {
  a.nav-link .link {
    position: relative;
  }
  a.nav-link .link:after {
    content: "";
    width: 100%;
    display: block;
    height: 3px;
    background-color: #50D5B7;
    position: absolute;
    top: 110%;
    left: 0;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  a.nav-link .link:hover:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  a.nav-link-active .link:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
.mb-40px {
  margin-bottom: 40px;
}

@media (min-width: 992px) {
  .navbar-project-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
  }
}
.navbar-footer-mobile {
  display: none;
}

@media (max-width: 767px) {
  .navbar-footer-desktop {
    display: none !important;
  }

  .navbar-footer-mobile {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .navbar-footer-mobile .navbar-nav {
    flex-direction: row;
  }
  .navbar-footer-mobile .navbar-nav li {
    border: none;
    margin: 0 45px;
  }
  .navbar-footer-mobile a.nav-link {
    text-decoration: underline;
  }
}
@media (max-width: 375px) {
  .navbar-footer-mobile .navbar-nav {
    flex-direction: column;
  }
}
.navbar-block,
.login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 1199px) {
  .navbar-block,
  .login {
    justify-content: flex-start;
  }
}
.navbar-block a,
.login a {
  text-decoration: none;
  font-weight: 500;
}
.navbar-block a:hover,
.login a:hover {
  text-decoration: underline;
}

a.tel {
  font-size: 1rem;
  color: #28c76f;
  font-weight: 700;
}
a.tel:hover {
  text-decoration: none;
}

@media (max-width: 1199px) {
  .navbar-block-tel {
    display: none;
  }
}
.navbar-top.navbar-dark .navbar-nav .nav-link {
  color: #353535;
  font-weight: 600;
}
@media (max-width: 1199px) {
  .navbar-top.navbar-dark .navbar-nav .nav-link {
    color: #fff;
  }
}

.navbar-project .navbar-nav .nav-link {
  padding-right: 50px;
  padding-left: 0;
}

#navbarsBottom .nav-item .navbar-block,
#navbarsBottom .nav-item .login {
  min-width: auto;
  margin-right: 20px;
  padding-left: 2.5rem;
}

#navbarsBottom .nav-item {
  align-items: center;
  display: flex;
}
