@import 'variables';

.btn-site-violet,
.btn-site {
  position: relative;
  color:#ffffff;
  //@include green-gradient;
  padding: 12px 25px;
  font-size: 18px;
  font-weight: 700;
  min-width: 220px;
  justify-content: center;
  border-radius: 5px;

  &:after {
    content: "";
    width: 100%;
    display: block;
    height: 6px;
    //background: #20AE60;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    top: 100%;
    left: 0;
  }
  &:hover {
    color:#ffffff;
  }
  @media(max-width:370px){
    min-width: 190px;
  }
}
.btn-site {
  @include green-gradient;

  &:after {
    background: #20AE60;
  }

}
.btn-site-violet {
  @include violet-gradient;

  &:after {
    background: #18417A;

  }

}
