.code-area {
  h1 {
    justify-content: center;
    display: flex;
    margin-top: 90px;
    margin-bottom: 36px;
  }

  .personal-area__text{
    width: 50%;
    @media(max-width:768px){
      width: 100%;
    }
  }


  &.personal-area {
    margin-bottom: 0px;
  }

  .about-us {
    padding-top: 80px;
    padding-bottom: 90px;
  }
  .about-us__item img {
    margin-top: -12px;
  }
}

.code-blocks {
  margin-top: 55px;

  .code {
    font-family: Roboto;
    font-size: 14px;
    background: #F8F8F8;
    border: 1px solid #28C76F;
    padding: 12px;
    max-height: 395px;
    overflow-y: auto;

    width: 100%;
    min-height: 90px;

    &-blocks {
      margin-top: 54px;
    }
  }
  .code1 {
    min-height: 400px;
  }
  pre {
    margin: 0px;
    overflow-x: hidden;
  }
  code {
    font-family: Roboto;
    font-size: 14px;
  }

  .copy-btn {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    h4 {
      width:50%;
    }
  }
}

.link-green {
  margin-top:5px;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}
