@import 'variables';

//navbar-start
.bg-green-gr{
  @include green-gradient;
}
.bg-green-gr-xl{
  @include green-gradient;

  @media(min-width:1200px){
    background-image: none;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-project-footer,
.navbar-project {
  font-family: 'Formular';
  font-weight: 500;

  a {
    color:#353535;
    font-size: 16px;
  }

  .logo-project {
    width: 161px;
    height: 65px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    padding-left: 70px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size:  24px;
  }
}

.navbar-project-footer {
  padding-top: 20px;
  padding-bottom: 25px;
}

.navbar-project .navbar-toggler:focus {
  box-shadow: 0 0 0 0.1rem;
}
.navbar-project .navbar-toggler {
  border: none;
  box-shadow: none !important;
}
.navbar-project .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-image: url(../images/icons/close.svg);
  width: 42px;
  height: 32px;
}
.navbar-project .navbar-toggler[aria-expanded="false"] .navbar-toggler-icon {
  background-image: url(../images/icons/hamburger.svg);
  width: 42px;
  height: 32px;
}
.navbar-project .navbar-toggler {
  padding-left: 30px;
}
@media(max-width:1199px){

  .navbar-collapse {
    .nav-item {
      border-bottom:1px solid #fff;
    }
  }
}

a.nav-link {
  padding: 18px 1rem;
}

@media(min-width: 1200px){

  a.nav-link {
    .link {
      position: relative;

      &:after {
        content: "";
        width: 100%;
        display: block;
        height: 3px;
        background-color: #50D5B7;

        position: absolute;
        top: 110%;
        left: 0;

        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
      }

      &:hover {
        &:after {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }

      }
    }
  }

  a.nav-link-active {
    .link:after {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}

.mb-40px{
  margin-bottom: 40px;
}

@media(min-width:992px){
  .navbar-project-bottom  {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
  }
}

@media(max-width:330px) {
  .navbar-brand {
    margin-right: 0;
  }
}




.navbar-footer-mobile {
  display: none;
}
@media (max-width:767px) {

  .navbar-footer-desktop {
    display: none !important;
  }
  .navbar-footer-mobile {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    .navbar-nav {
      flex-direction: row;
      li {
        border: none;
        margin: 0 45px;
      }
    }
    a.nav-link {
      text-decoration: underline;
    }
  }
}
@media (max-width: 375px) {
  .navbar-footer-mobile .navbar-nav {
    flex-direction: column;
  }
}

.navbar-block,
.login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @media(max-width:1199px){
    justify-content: flex-start;
  }

  a {
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}

a.tel {
  font-size: 1rem;
  color: $global_color;
  font-weight: 700;

  &:hover {
    text-decoration: none;
  }
}

@media(max-width:1199px){
  .navbar-block-tel {
    display: none;
  }
}
.navbar-top.navbar-dark .navbar-nav .nav-link {
  color: #353535;
  font-weight: 600;
  @media (max-width:1199px) {
    color: #fff;
  }
}

.navbar-top .navbar-block a {
  font-weight: 600;
}

.navbar-project .navbar-nav .nav-link {
  padding-right: 50px;
  padding-left: 0;
}



#navbarsBottom .nav-item .navbar-block,
#navbarsBottom .nav-item .login,
{
  min-width: auto;
  margin-right: 20px;
  padding-left: 2.5rem;
}

#navbarsBottom .nav-item {
  align-items: center;
  display: flex;
}
