.service {
  margin: 10px 0 120px 0;

  @media (max-width: 991px){
    text-align: center;
  }

  @media (max-width:991px) {
    font-size: 87%;
  }
  @media(max-width:768px){
    flex-direction: column;
  }
  @media(max-width:480px){
    margin-top: 84px;
  }

  &-icon {
    width: 64px;
    height: 88px;
    margin-left: 10px;
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url(../images/icons/service-title-icon.svg);

    position: relative;
    top: 40px;
  }

  h1 {
    text-transform: uppercase;
    font-size: 2.625rem; //42px
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 1.563rem;

    @media (max-width:991px) {
      text-align: center;
      margin-bottom: 68px;
    }

    @media (max-width:767px) {
      font-size: 180%;
      line-height: 1.3;
    }
  }

  &__text {
    font-size: 1.125rem; //18px
    font-weight: 400;
    line-height: 23px;
    max-width: 500px;
    @media(max-width:991px){
    max-width: 100%;
    }
  }
  &__img {
    margin-top: 20px;
    @media (max-width:480px) {
      max-width: 180px;
      margin-bottom: 30px;
    }
  }

  &__col-img {
    width: auto;
  }

  .btn {
    margin-top: 47px;
  }

}
