.uploaded-documents {
  h3 {
    margin-bottom: 10px;
  }
}


.table-doc {
  border-spacing: 10px;
  border-collapse: separate;

  th {
    font-size: 18px;
  }
  td {
    font-size: 16px;
  }

  i.fa-file-text-o,
  i.fa-link {
    margin-right: 10px;
  }
}
.table-doc>:not(:last-child)>:last-child>* {
  //border-bottom-color: red;
  border-bottom-color: transparent;
}
.table-doc>:not(caption)>*>* {
  padding: .9rem .5rem;
  border-bottom-width: 0;
}

.table-doc tbody tr{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

//адаптивность таблицы
@media screen and (max-width: 505px) {
  table.table-doc {
    border: 0;
  }

  table.table-doc thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table.table-doc tr {
    border-bottom: 1px solid #ddd;
    display: block;
    margin-bottom: 30px;
  }

  table.table-doc td {
    display: block;
    text-align: right;

    span {
      display: inline-block;
      width: 50%;
      text-align: start;
      font-size: 14px;
    }
  }

  table.table-doc td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table.table-doc td:last-child {
    border-bottom: 0;
  }
}
@media(max-width:345px) {
  table.table-doc td::before {
    font-size: 14px;
  }
  table.table-doc td span {
    width: 53%;
  }
}
